.form__fieldset {
    width: 358px;
    margin: auto;
    border: 0;
    padding: 0;
  }
  
  @media screen and (max-width: 750px) {
    .form__fieldset {
      width: 300px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .form__fieldset {
      width: 238px;
    }
  }