.form__item {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 27.26px;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0 auto 30px;
  padding: 0;
}

.form__item:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 750px) {
  .form__item {
    width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .form__item {
    width: 238px;
    height: 26px;
  }
}