.element__item {
    width: 100%;
    border-radius: 10px 10px 0 0;
    aspect-ratio: 1/1;
  }

  @supports not (aspect-ratio: 1 / 1) {
    .element__item::before {
      float: left;
      padding-top: 100%;
      content: "";
    }
  
    .element__item::after {
      display: block;
      content: "";
      clear: both;
    }
  }