.profile__info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 289px);
  align-self: center;
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin: 0 auto;
    width: 100%;
  }
}