.element__name_heart {
  background-image: url("../../../../images/heart.svg");
  height: 19px;
  width: 21px;
  align-self: center;
  margin-inline-end: auto;
}

.element__name_heart:hover {
  opacity: 0.5;
}

.element__name_heart:active {
  background-image: url("../../../../images/blackHeart.svg");
}