.footer__copyrights {
  color: #545454;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 68px;
}

@media screen and (max-width: 500px) {
  .footer__copyrights {
    font-size: 14px;
    line-height: 17px;
    margin-top: 50px;
  }
}