.profile__task {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .profile__task {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 500px) {
  .profile__task {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto 36px;
  }
}